<h2>
  Screening results for <%= @client.clientable.name %>
</h2>

<p class="py-4">
Screening run on <%= @screening.created_at.strftime("%B %d, %Y at %I:%M%p") %> for query <em>"<%= @screening.query %>"</em>
</p>

<% @screening.sanctions.each do |sanction| %>
  <div class="py-4">
    <div>
      <strong>Nature:</strong>
      <%= sanction.nature %>
    </div>

    <div>
      <strong>Title:</strong>
      <%= sanction.title %>
    </div>

    <div>
      <strong>Last Name:</strong>
      <%= sanction.last_name %>
    </div>

    <div>
      <strong>First Name:</strong>
      <%= sanction.first_name %>
    </div>

    <div>
      <strong>Sex:</strong>
      <%= sanction.sex %>
    </div>

    <div>
      <strong>Date of Birth:</strong>
      <%= sanction.date_of_birth %>
    </div>

    <div>
      <strong>Place of Birth:</strong>
      <%= sanction.place_of_birth %>
    </div>

    <div>
      <strong>Nationality:</strong>
      <%= sanction.nationality %>
    </div>

    <div>
      <strong>Address:</strong>
      <%= sanction.address %>
    </div>

    <div>
      <strong>Alias:</strong>
      <%= sanction.alias %>
    </div>

    <div>
      <strong>Authority:</strong>
      <%= sanction.authority %>
    </div>

    <div>
      <strong>Motive:</strong>
      <%= sanction.motive %>
    </div>

    <div>
      <strong>Legal Basis:</strong>
      <%= sanction.legal_basis %>
    </div>

    <div>
      <strong>Additional Info:</strong>
      <%= sanction.additional_info %>
    </div>

    <div>
      <strong>Expiration Date:</strong>
      <%= sanction.expiration_date %>
    </div>
  </div>
<% end %>
