<%= form_with(model: person) do |form| %>
  <% if person.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :country_of_birth, style: "display: block" %>
    <%= form.collection_select :country_of_birth, ISO3166::Country.all.sort, :alpha2, :iso_short_name, { prompt: "Select a country" } %>
  </div>

  <div>
    <%= form.label :country_of_residence, style: "display: block" %>
    <%= form.collection_select :country_of_residence, ISO3166::Country.all.sort, :alpha2, :iso_short_name, { prompt: "Select a country" } %>
  </div>

  <div>
    <%= form.label :country_of_profession, style: "display: block" %>
    <%= form.collection_select :country_of_profession, ISO3166::Country.all.sort, :alpha2, :iso_short_name, { prompt: "Select a country" } %>
  </div>

  <div>
    <%= form.label :profession, style: "display: block" %>
    <%= form.collection_select :profession, Occupation.all, :unit, :long_description, { prompt: "Select an occupation" } %>
  </div>

  <div>
    <%= form.label :pep, style: "display: block" %>
    <%= form.checkbox :pep %>
  </div>

  <div>
    <%= form.label :sanctioned, style: "display: block" %>
    <%= form.checkbox :sanctioned %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
