<div class="max-w-3xl mx-auto p-6">
  <%= form_with(model: person, data: { turbo: false }) do |f| %>
    <% if person.errors.any? %>
        <div class="mb-8">
            <div class="flex justify-between border-b border-gray-200">
                <h2>
                    <%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:
                </h2>
            </div>
        </div>
    <% end %>

    <div>
      <h2>
        Personal Information
      </h2>
    </div>

    <div class="space-y-12">
      <div class="border-b border-gray-900/10 pb-12">
          <div>
            <p class="mt-1 text-sm/6 text-gray-600">
              Please provide accurate information for AML compliance purposes.
            </p>

            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
              <div class="sm:col-span-3">
                <%= f.label :first_name, class: "block text-sm/6 font-medium text-gray-900" %>
                <div class="mt-2">
                  <%= f.text_field :first_name, required: true,
                      class: "block w-full rounded-md bg-white px-3 py-1.5 text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" %>
                </div>
              </div>

              <div class="sm:col-span-3">
                <%= f.label :last_name, class: "block text-sm/6 font-medium text-gray-900" %>
                <div class="mt-2">
                    <%= f.text_field :last_name, required: true,
                        class: "block w-full rounded-md bg-white px-3 py-1.5 text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" %>
                </div>
              </div>
            </div>

            <%= render "shared/searchable_country_field", f: f, field_name: :nationality %>
            <%= render "shared/searchable_country_field", f: f, field_name: :country_of_residence %>
            <%= render "shared/searchable_country_field", f: f, field_name: :country_of_profession %>
            <%= render "shared/searchable_country_field", f: f, field_name: :country_of_birth %>

            <div class="mt-6">
                <%= render "profession_field", f: f %>
            </div>

              <div class="mt-6">
                <div class="pb-4">
                  <h3>Identification Documents</h3>
                  <div data-controller="document-form">
                    <template data-document-form-target="template">
                      <%= f.fields_for :identification_documents, IdentificationDocument.new, child_index: 'NEW_RECORD' do |doc| %>
                        <%= render 'identification_document_fields', f: doc %>
                      <% end %>
                    </template>

                    <%= f.fields_for :identification_documents do |doc| %>
                      <%= render 'identification_document_fields', f: doc %>
                    <% end %>

                    <button type="button" data-action="document-form#add" class="mt-4 rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                      Add Document
                    </button>
                  </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="mt-6 flex items-center justify-end gap-x-6">
      <%= link_to "Cancel", clients_path,
          class: "text-sm/6 font-semibold text-gray-900" %>

      <%= f.submit class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
    </div>
  <% end %>
</div>
