<div class="document-fields bg-base-200 p-4 rounded-lg mt-4" data-new-record="<%= f.object.new_record? %>">
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-3">
    <div class="form-control">
      <%= f.label :document_type, class: "label pb-1" do %>
        <span class="label-text">Document Type</span>
      <% end %>
      <div class="relative">
        <%= f.select :document_type,
            Person::DOCUMENT_TYPES,
            { prompt: "Select type" },
            { required: true,
              class: "select select-bordered w-full" } %>
      </div>
    </div>

    <div class="form-control">
      <%= f.label :number, class: "label pb-1" do %>
        <span class="label-text">Document Number</span>
      <% end %>
      <%= f.text_field :number, required: true, class: "input input-bordered w-full" %>
    </div>

    <div class="form-control">
      <%= f.label :expiration_date, class: "label pb-1" do %>
        <span class="label-text">Expiration Date</span>
      <% end %>
      <%= f.date_field :expiration_date, required: true, class: "input input-bordered w-full" %>
    </div>

    <div class="col-span-1 sm:col-span-2 flex items-center">
      <label class="label cursor-pointer justify-start gap-2">
        <%= f.check_box :is_copy, class: "checkbox checkbox-primary" %>
        <span class="label-text">This is a copy</span>
      </label>
    </div>

    <div class="flex items-end justify-end">
      <button type="button" data-action="document-form#remove" class="btn btn-error btn-sm">
        Remove
      </button>
    </div>
  </div>
</div> 
