<div id="<%= dom_id person %>">
  <p>
    <strong>First name:</strong>
    <%= person.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= person.last_name %>
  </p>

  <p>
    <strong>Country of birth:</strong>
    <%= person.country_of_birth %>
  </p>

  <p>
    <strong>Country of residence:</strong>
    <%= person.country_of_residence %>
  </p>

  <p>
    <strong>Country of profession:</strong>
    <%= person.country_of_profession %>
  </p>

  <p>
    <strong>Profession:</strong>
    <%= person.profession %>
  </p>

  <p>
    <strong>Pep:</strong>
    <%= person.pep %>
  </p>

  <p>
    <strong>Sanctioned:</strong>
    <%= person.sanctioned %>
  </p>

</div>
