<div id="<%= dom_id person %>">
  <p>
    <strong>First name:</strong>
    <%= person.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= person.last_name %>
  </p>

  <p>
    <strong>Country of birth:</strong>
    <%= ISO3166::Country[person.country_of_birth].iso_short_name %>
  </p>

  <p>
    <strong>Country of residence:</strong>
    <%= ISO3166::Country[person.country_of_residence].iso_short_name %>
  </p>

  <p>
    <strong>Country of profession:</strong>
    <%= ISO3166::Country[person.country_of_profession].iso_short_name %>
  </p>

  <p>
    <strong>Profession:</strong>
    <%= Occupation.find_by(unit: person.profession).description %>
  </p>

  <p>
    <strong>Pep:</strong>
    <%= person.pep %>
  </p>

  <p>
    <strong>Sanctioned:</strong>
    <%= person.sanctioned %>
  </p>
</div>
