<% content_for :title, "#{@person.display_name}" %>

<div class="grid grid-cols-1 gap-6">
  <%= render "people/header", person: @person %>
  <%= render "people/information", person: @person %>
  <%= render "clients/identification_documents_section", documents: @person.identification_documents %>
  <%= render "clients/screenings_section", clientable: @person %>
  <%= render "clients/adverse_media_checks_section", clientable: @person %>
</div>
