<tr class="hover">
  <td class="w-96">
    <div class="flex items-center justify-between">
      <%= link_to client_risk_summary.display_name, client_path(client_risk_summary.client_id),
          class: "link link-primary line-clamp-2", data: { turbo: false } %>

      <div class="flex gap-2 ml-2">
        <% if client_risk_summary.pep %>
          <span class="badge badge-warning badge-sm">
            PEP
          </span>
        <% end %>
        <% if client_risk_summary.sanctioned %>
          <span class="badge badge-error badge-sm">
            Sanctioned
          </span>
        <% end %>
      </div>
    </div>
  </td>
  <td class="w-24 min-w-[6rem] max-w-[6rem] text-center text-xs">
    <%= client_risk_summary.risk_assessment_status %>
  </td>

  <td class="w-24 min-w-[6rem] max-w-[6rem] text-center">
    <% if client_risk_summary.country_risk_score %>
      <span class="badge <%= risk_badge_class(client_risk_summary.country_risk_score) %>">
        <%= client_risk_summary.country_risk_score %>
      </span>
    <% else %>
      <span class="text-base-content/60">
        -
      </span>
    <% end %>
  </td>

  <td class="w-24 min-w-[6rem] max-w-[6rem] text-center">
    <% if client_risk_summary.client_risk_score %>
      <span class="badge <%= risk_badge_class(client_risk_summary.client_risk_score) %>">
        <%= client_risk_summary.client_risk_score %>
      </span>
    <% else %>
      <span class="text-base-content/60">
        -
      </span>
    <% end %>
  </td>

  <td class="w-24 min-w-[6rem] max-w-[6rem] text-center">
    <% if client_risk_summary.products_and_services_risk_score %>
      <span class="badge <%= risk_badge_class(client_risk_summary.products_and_services_risk_score) %>">
        <%= client_risk_summary.products_and_services_risk_score %>
      </span>
    <% else %>
      <span class="text-base-content/60">
        -
      </span>
    <% end %>
  </td>

  <td class="w-24 min-w-[6rem] max-w-[6rem] text-center">
    <% if client_risk_summary.distribution_channel_risk_score %>
      <span class="badge <%= risk_badge_class(client_risk_summary.distribution_channel_risk_score) %>">
        <%= client_risk_summary.distribution_channel_risk_score %>
      </span>
    <% else %>
      <span class="text-base-content/60">
        -
      </span>
    <% end %>
  </td>

  <td class="w-24 min-w-[6rem] max-w-[6rem] text-center">
    <% if client_risk_summary.transaction_risk_score %>
      <span class="badge <%= risk_badge_class(client_risk_summary.transaction_risk_score) %>">
        <%= client_risk_summary.transaction_risk_score %>
      </span>
    <% else %>
      <span class="text-base-content/60">
        -
      </span>
    <% end %>
  </td>

  <td class="w-24 min-w-[6rem] max-w-[6rem] text-center">
    <% if client_risk_summary.total_risk_score.positive? %>
      <span class="badge <%= risk_badge_class(client_risk_summary.total_risk_score) %>">
        <%= client_risk_summary.total_risk_score %>
      </span>
    <% else %>
      <span class="text-base-content/60">
        -
      </span>
    <% end %>
  </td>
</tr>