<div class="flex flex-col sm:flex-row items-center justify-between py-3 gap-4">
  <div>
    <p class="text-sm">
      Showing
        <span class="font-medium"><%= ((collection.current_page - 1) * 25) + 1 %></span>
        to
        <span class="font-medium"><%= [collection.current_page * 25, collection.total_count].min %></span>
        of
        <span class="font-medium"><%= collection.total_count %></span>
        <%= params[:nature]&.pluralize || "people" %>
      </p>
  </div>

  <div class="join">
    <% if collection.prev_page %>
      <%= link_to "Previous",
          url_for(request.params.merge(page: collection.prev_page)),
          class: "join-item btn btn-sm" %>
    <% else %>
      <button class="join-item btn btn-sm btn-disabled">Previous</button>
    <% end %>

    <% if collection.next_page %>
      <%= link_to "Next",
          url_for(request.params.merge(page: collection.next_page)),
          class: "join-item btn btn-sm" %>
    <% else %>
      <button class="join-item btn btn-sm btn-disabled">Next</button>
    <% end %>
  </div>
</div>