<div class="flex flex-col sm:flex-row items-center justify-between gap-4">
  <div>
    <p class="text-sm">
      Showing
        <span class="font-medium"><%= ((collection.current_page - 1) * 25) + 1 %></span>
        to
        <span class="font-medium"><%= [collection.current_page * 25, collection.total_count].min %></span>
        of
        <span class="font-medium"><%= collection.total_count %></span>
        <%= params[:nature]&.pluralize || "people" %>
      </p>
  </div>

  <div class="join">
    <% if collection.prev_page %>
      <%= link_to url_for(request.params.merge(page: collection.prev_page)),
          class: "join-item btn btn-sm" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
        </svg>
        Previous
      <% end %>
    <% else %>
      <button class="join-item btn btn-sm btn-disabled">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
        </svg>
        Previous
      </button>
    <% end %>

    <% if collection.total_pages > 1 %>
      <% page_window = 2 %>
      <% start_page = [1, collection.current_page - page_window].max %>
      <% end_page = [collection.total_pages, collection.current_page + page_window].min %>
      
      <% if start_page > 1 %>
        <%= link_to "1", url_for(request.params.merge(page: 1)), class: "join-item btn btn-sm" %>
        <% if start_page > 2 %>
          <button class="join-item btn btn-sm btn-disabled">...</button>
        <% end %>
      <% end %>
      
      <% (start_page..end_page).each do |page| %>
        <% if page == collection.current_page %>
          <button class="join-item btn btn-sm btn-active"><%= page %></button>
        <% else %>
          <%= link_to page.to_s, url_for(request.params.merge(page: page)), class: "join-item btn btn-sm" %>
        <% end %>
      <% end %>
      
      <% if end_page < collection.total_pages %>
        <% if end_page < collection.total_pages - 1 %>
          <button class="join-item btn btn-sm btn-disabled">...</button>
        <% end %>
        <%= link_to collection.total_pages.to_s, url_for(request.params.merge(page: collection.total_pages)), class: "join-item btn btn-sm" %>
      <% end %>
    <% end %>

    <% if collection.next_page %>
      <%= link_to url_for(request.params.merge(page: collection.next_page)),
          class: "join-item btn btn-sm" do %>
        Next
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-1" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
        </svg>
      <% end %>
    <% else %>
      <button class="join-item btn btn-sm btn-disabled">
        Next
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-1" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
        </svg>
      </button>
    <% end %>
  </div>
</div>
