<div class="stats shadow mb-4 bg-base-100">
  <div class="stat place-items-center">
    <div class="stat-title">Clear</div>
    <div class="stat-value text-success"><%= clear_count %></div>
  </div>

  <% if with_adverse_media_count.positive? %>
    <div class="stat place-items-center">
      <div class="stat-title">Adverse Media</div>
      <div class="stat-value text-warning"><%= with_adverse_media_count %></div>
    </div>
  <% else %>
    <div class="stat place-items-center">
      <div class="stat-title">Adverse Media</div>
      <div class="stat-value text-success"><%= with_adverse_media_count %></div>
    </div>
  <% end %>

  <% if pep_count.positive? %>
    <div class="stat place-items-center">
      <div class="stat-title">PEP</div>
      <div class="stat-value text-error"><%= pep_count %></div>
    </div>
  <% else %>
    <div class="stat place-items-center">
      <div class="stat-title">PEP</div>
      <div class="stat-value text-success"><%= pep_count %></div>
    </div>
  <% end %>

  <% if sanctioned_count.positive? %>
    <div class="stat place-items-center">
      <div class="stat-title">Sanctioned</div>
      <div class="stat-value text-error"><%= sanctioned_count %></div>
    </div>
  <% else %>
    <div class="stat place-items-center">
      <div class="stat-title">Sanctioned</div>
      <div class="stat-value text-success"><%= sanctioned_count %></div>
    </div>
  <% end %>
</div> 