<div class="card bg-base-100 shadow-md mb-6">
  <div class="card-body p-4">
    <div class="tabs tabs-lifted">
      <% if controller_name == "clients" %>
        <%= link_to clients_path(nature: "person"), class: "tab tab-bordered tab-lg #{params[:nature].nil? || params[:nature] == "person" ? "tab-active": ""}" do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
            <path d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" />
          </svg>
          Persons
        <% end %>
        <%= link_to clients_path(nature: "company"), class: "tab tab-bordered tab-lg #{params[:nature] == "company" ? "tab-active" : ""}" do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h8a2 2 0 012 2v12a1 1 0 110 2h-3a1 1 0 01-1-1v-2a1 1 0 00-1-1H9a1 1 0 00-1 1v2a1 1 0 01-1 1H4a1 1 0 110-2V4zm3 1h2v2H7V5zm2 4H7v2h2V9zm2-4h2v2h-2V5zm2 4h-2v2h2V9z" clip-rule="evenodd" />
          </svg>
          Companies
        <% end %>
      <% else %>
        <%= link_to prospects_path(nature: "person"), class: "tab tab-bordered tab-lg #{params[:nature].nil? || params[:nature] == "person" ? "tab-active" : ""}" do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
            <path d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" />
          </svg>
          Persons
        <% end %>
        <%= link_to prospects_path(nature: 'company'), class: "tab tab-bordered tab-lg #{params[:nature] == "company" ? 'tab-active' : ""}" do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h8a2 2 0 012 2v12a1 1 0 110 2h-3a1 1 0 01-1-1v-2a1 1 0 00-1-1H9a1 1 0 00-1 1v2a1 1 0 01-1 1H4a1 1 0 110-2V4zm3 1h2v2H7V5zm2 4H7v2h2V9zm2-4h2v2h-2V5zm2 4h-2v2h2V9z" clip-rule="evenodd" />
          </svg>
          Companies
        <% end %>
      <% end %>
    </div>

    <div class="mt-4" data-controller="client-search">
      <%= form_with url: controller_name == "clients" ? clients_path : prospects_path, method: :get, data: { client_search_target: "form", turbo_frame: "search_results" } do |f| %>
        <%= f.hidden_field :nature, value: params[:nature] %>
        <div class="flex flex-col sm:flex-row gap-2">
          <div class="join flex-grow">
            <div class="join-item bg-base-200 flex items-center px-3">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 opacity-70" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
              </svg>
            </div>
            <%= f.text_field :query,
                value: params[:query],
                placeholder: "Search #{params[:nature] ? params[:nature].pluralize : (controller_name == "clients" ? "clients" : "prospects")}",
                class: "input input-bordered join-item flex-grow",
                data: {
                  client_search_target: "input",
                  action: "input->client-search#search keyup->client-search#clear"
                } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
