<div class="py-4">
    <%= f.fields_for :clientable do |cf| %>
        <fieldset>
            <h3>
                Country Information
            </h3>

            <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                <% if f.object.class.name == "Person" %>
                    <%= render "searchable_country_field", f: cf, field_name: :nationality %>
                    <%= render "searchable_country_field", f: cf, field_name: :country_of_residence %>
                    <%= render "searchable_country_field", f: cf, field_name: :country_of_profession %>
                    <%= render "searchable_country_field", f: cf, field_name: :country_of_birth %>
                <% else %>
                    <%= render "searchable_country_field", f: cf, field_name: :country %>
                <% end %>
            </div>
        </fieldset>
    <% end %>
</div>