<div class="mt-10">
  <fieldset>
    <legend class="text-sm/6 font-semibold leading-6 text-gray-900">Risk Factors</legend>
    <p class="mt-1 text-sm/6 text-gray-600">
      Select all applicable <%= client.clientable_type.downcase %> factors.
    </p>
    <div class="mt-6 space-y-8">
      <% RiskFactorDefinition.categories.each do |category| %>
        <div>
          <h3>
            <%= category.titleize %> Factors
          </h3>
          <div class="space-y-4">
            <% client.risk_factor_class.identifiers_for(category).each do |identifier| %>
              <div class="relative flex items-start">
                <div class="flex h-6 items-center">
                  <%= f.fields_for :risk_factors, RiskFactor.new(category: category, identifier: identifier) do |rf| %>
                    <%= rf.hidden_field :category, value: category %>
                    <%= rf.hidden_field :identifier, value: identifier %>
                    <%= rf.check_box :identified_at, { 
                      class: "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600",
                      id: "risk_factor_#{category}_#{identifier}"
                    }, Time.current, nil %>
                  <% end %>
                </div>
                <div class="ml-3 text-sm/6 leading-6">
                  <label for="risk_factor_<%= category %>_<%= identifier %>" class="font-medium text-gray-900">
                    <%= t("risk_factors.#{client.clientable_type.downcase}.#{category}.#{identifier}") %>
                  </label>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </fieldset>
</div> 