<div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
  <table class="table table-zebra w-full">
    <thead>
      <tr>
        <th rowspan="2" class="w-96 border-r border-base-content/5">
          <%= sortable "display_name", "Name" %>
        </th>
        <th colspan="7" class="text-center">
          Risk Assessment
        </th>
      </tr>
      <tr>
        <th>
          <%= sortable "risk_assessment_status", "Status" %>
        </th>
        <th>
          <%= sortable "country_risk_score", "Country" %>
        </th>
        <th>
          <%= sortable "client_risk_score", "Client" %>
        </th>
        <th>
          <%= sortable "products_and_services_risk_score", "Services" %>
        </th>
        <th>
          <%= sortable "distribution_channel_risk_score", "Distribution" %>
        </th>
        <th>
          <%= sortable "transaction_risk_score", "Transaction" %>
        </th>
        <th>
          <%= sortable "total_risk_score", "Total" %>
        </th>
      </tr>
    </thead>

    <tbody>
      <% if client_risk_summaries.any? %>
        <% client_risk_summaries.each do |summary| %>
          <%= render summary %>
        <% end %>
      <% elsif params[:query].present? %>
        <tr>
          <td colspan="8" class="text-center text-base-content/60 italic py-8">
            No client found matching your search criteria.
          </td>
        </tr>
      <% else %>
        <tr>
          <td colspan="8" class="text-center text-base-content/60 italic py-8">
            Create your first prospect:
            <%= link_to "Create Person Prospect", new_person_path, class: "btn btn-primary btn-sm", data: { turbo: false } %>
            <%= link_to "Create Company Prospect", new_company_path, class: "btn btn-primary btn-sm", data: { turbo: false } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div> 