<% content_for :title, "Clients" %>

<h1>Clients</h1>

<%= render "statistics" %>

<%= render "tabs" %>

<%= render "search" %>

<div class="mt-4 flow-root">
  <%= turbo_frame_tag "search_results" do %>
    <div id="clients_pagination">
      <%= render 'shared/pagination', collection: @client_risk_summaries %>
    </div>

    <div id="clients_table">
      <%= render "table", client_risk_summaries: @client_risk_summaries %>
    </div>

    <div id="clients_pagination">
      <%= render 'shared/pagination', collection: @client_risk_summaries %>
    </div>
  <% end %>
</div>