<% if notice %>
  <div class="p-4 mb-4 text-green-700 bg-green-100 rounded-lg">
    <%= notice %>
  </div>
<% end %>

<div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
  <div class="max-w-3xl mx-auto space-y-8">
    <%= render "client_header", client: @client %>

    <%= render "kyc_notes_show", client: @client %>

    <%= render "risk_radar", client: @client %>

    <%= render "identification_documents_section", documents: @client.clientable.identification_documents %>

    <%= render "overall_risk_score", client: @client %>

    <%= render "country_risk_scores", client: @client %>

    <%= render "risk_factors_section", client: @client %>

    <%= render "adverse_media_checks_section", client: @client %>

    <%= render "screenings_section", client: @client %>
  </div>
</div>
