<% content_for :title, "#{@client.clientable.display_name}" %>

<div class="mx-auto px-4 sm:px-6 lg:px-8 py-2">
  <div class="mb-4 text-sm text-gray-500">
    <p>Client since <%= @client.created_at.strftime("%d %B %Y") %></p>
  </div>

  <div class="mx-auto space-y-8">
    <%= render "header", clientable: @clientable %>
    <%= render "notes/show", client: @client %>
    <%= render "risk_profile", client: @client %>
    <%= render "company_relationships/index", company: @clientable if @clientable.is_a?(Company) %>
    <%= render "risk_assessment_section", client: @client %>
    <%= render "adverse_media_checks_section", clientable: @clientable %>
    <%= render "screenings_section", clientable: @clientable %>
    <%= render "identification_documents_section", documents: @clientable.identification_documents %>
  </div>
</div>
