<div class="max-w-3xl mx-auto">
  <%= form_with(model: company, data: { turbo: false }, class: "card bg-base-100 shadow-xl") do |f| %>
    <div class="card-body">
      <% if company.errors.any? %>
          <div class="alert alert-error mb-5">
              <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
              <div>
                <%= pluralize(company.errors.count, "error") %> prohibited this company from being saved
              </div>
          </div>
      <% end %>

      <div class="space-y-8">
        <div>
          <h2 class="card-title">
            Company Information
          </h2>
          <p class="text-sm text-gray-600">
            Please provide accurate information for AML compliance purposes.
          </p>

          <div class="form-control w-full mt-6">
            <%= f.label :name, class: "label pb-1 font-bold" %>
            <%= f.text_field :name, class: "input input-bordered w-full" %>
          </div>

          <div class="form-control w-full mt-3">
            <%= render "shared/searchable_country_field", f: f, field_name: :country %>
          </div>
        </div>
      </div>

      <div class="card-actions justify-end mt-8">
        <%= link_to "Cancel", clients_path,
            class: "btn btn-ghost" %>

        <%= f.submit class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div> 
