<% content_for :title, "#{@company.display_name}" %>

<div class="grid grid-cols-1 gap-6">
  <%= render "companies/header", company: @company %>
  <%= render "companies/information", company: @company %>
  <%= render "company_relationships/index", company: @company %>
  <%= render "clients/screenings_section", clientable: @company %>
  <%= render "clients/adverse_media_checks_section", clientable: @company %>
</div>
