<% content_for :title, "Prospects" %>

<div class="sm:flex sm:items-center">
  <div class="sm:flex-auto">
    <h1>Prospects</h1>
  </div>
  <% if Prospect.any? %>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none space-x-4">
      <%= link_to "Create Person Prospect", new_person_path, class: "btn-primary" %>
      <%= link_to "Create Company Prospect", new_company_path, class: "btn-primary" %>
    </div>
  <% end %>
</div>

<%= render "shared/statistics", clear_count: @clear_count, pep_count: @pep_count, sanctioned_count: @sanctioned_count, with_adverse_media_count: @with_adverse_media_count %>

<%= render "tabs" %>
<%= render "search" %>

<div class="mt-4 flow-root">
  <%= turbo_frame_tag "search_results" do %>
    <div id="prospects_pagination">
      <%= render 'shared/pagination', collection: @prospects %>
    </div>

    <%= render "table", prospects: @prospects %>

    <div id="prospects_pagination">
      <%= render 'shared/pagination', collection: @prospects %>
    </div>
  <% end %>
</div>