<!DOCTYPE html>
<html data-theme="nord" class="h-full">
  <head>
    <title><%= content_for(:title) || "ML2R - Money Laundering Risk Radar" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/chart.js", "data-turbo-track": "reload" %>
  </head>

  <body class="min-h-screen bg-base-200">
    <div class="drawer">
      <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex flex-col">
        <%= render 'shared/header' %>
        <%= render 'shared/navbar' %>

        <div class="h-6 flex items-center justify-center">
          <%= render 'shared/flash_messages' %>
        </div>

        <main class="container mx-auto px-4 py-6">
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
